@import "tailwindcss";
*{
  font-family: "Outfit", sans-serif;
}

/* Scrollbar appears only on hover */
.scrollbar-hover {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.scrollbar-hover::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-hover::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-hover::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.scrollbar-hover:hover::-webkit-scrollbar-thumb {
  background-color: #D1D5DB;
}

.scrollbar-hover:hover::-webkit-scrollbar-thumb:hover {
  background-color: #9CA3AF;
}

/* For Firefox */
.scrollbar-hover {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.scrollbar-hover:hover {
  scrollbar-color: #D1D5DB transparent;
}